body {
    font-family: "Montserrat";
    font-size: 1rem;
    line-height: 1.5;
}

h1 {
    font-size: 2rem;
    color: red;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    color: yellow;
}

h3 {
    font-size: 1.3rem;
    color: green;
}

h4 {
    font-size: 1.2rem;
    color: yellowgreen;
}

.Menu {
    font-size: 2rem;
    text-align: center;
    
}

.OpcionMenu {
    display: inline;
    list-style-type: none;
    padding: 0 3rem;
    margin: 0 3rem;
    background-color: green;
    border-radius: 1rem;
    border: 2px solid black;
}

a {
    text-decoration: none;
}

